* {
    background: #141414;

}

/* header styling */

.arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ececec;
    position: absolute;
    top: 3px;
    right: 0;
    margin: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0rem 3rem 0rem 0rem;
    z-index: 1000;
    box-sizing: border-box;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.5rem;
}

.secondary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.5rem;
}

.search-container {
    position: relative;
    width: 300px; /* or any width */
}


.navigation-menu-item, .caret {
    color: #ececec;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    transition: color 0.5s ease
}

.navigation-menu-item:hover {
    color: rgb(173, 173, 173); /* Changes background to grey on hover */
}

.searchTab {
    border: none;
    background: none;
    outline: none; /* Disables the focus outline */
    position: absolute;
    right: 0;
    top: -18px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: right 0.5s ease;
}

.search-icon {
    width: 35px;  /* Set the width of the image */
    height: 35px; /* Set the height of the image */
    border: none;
    cursor: default;
    background: none;
}

.search-bar {
    width: 0;
    height: 15px;
    border: 1px solid #ececec;
    color: #ececec;
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    padding: 10px 40px 10px 45px; 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease, width 0.5s ease;
    transform: translateX(-50%);
    right: 0;
    left: 50%;
    top: -17px;
    
}

.search-bar.active {
    width: 14rem;
    visibility: visible;
    opacity: 1;
    right: 100%; 
}

.search-bar.active + .searchTab {
    right: calc(100% - 40px); 
}

.account-dropdown-button {
    width: 50px;  /* Set the width of the image */
    height: 50px; /* Set the height of the image */
    border: none;
    cursor: pointer;
    background: none;
}

.netflix-logo {
    width: 100px;
    height: 50px;
}

.account-icon {
    width: 50px;  /* Set the width of the image */
    height: 50px; /* Set the height of the image */
    border: none;
    cursor: default;
}

a {
    text-decoration: none;
}

/* Main styling */
.main-container {
    color: #ececec;
    font-family: "Figtree", sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    padding: 3.5rem 3.5rem;
}

.custom-select {
    position: sticky;
    z-index: 10;
    border: 1px solid #ececec;
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin: 2.7rem 2rem;
}

.select-placeholder { 
    width: 10px;
    padding: 1.5px 10px;
    font-size: 20px;
    color: #ececec;
}

.select-options {
    font-size: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-height: 300px; /* Set a maximum height */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease;
    visibility: hidden;
    display: flex; /* Using Flexbox */
    flex-direction: column; /* Stack items vertically */
    flex-wrap: wrap; /* Allow wrapping */
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling */
    gap: 0rem;
}

.select-options li {
    padding: 10px;
    /* border-top: 1px solid #ececec; */
}

.select-options li:hover {
    text-decoration: underline;
}

.custom-select:focus-within .select-options {
    opacity: 1; /* Show options when parent is focused */
    visibility: visible;
}

/* movies styling  */
#moviesContainer .movie {
    display: inline-block;
    margin: 10px;
    width: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#moviesContainer .movie .image-container {
    position: relative;
}

#moviesContainer .movie img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

#moviesContainer .movie .description {
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0; /* Hidden by default */
    overflow: hidden;
    text-overflow: ellipsis;
}

#moviesContainer .movie:hover img {
    filter: blur(5px);
    width: 100%;
}

#moviesContainer .movie:hover .description {
    opacity: 1; /* Show description on hover */
}

#moviesContainer .movie .rating {
    font-weight: bold;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#moviesContainer .movie:hover .rating {
    opacity: 1;
}

#moviesContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}